{% extends 'NTPBundle::base.html.twig' %}
{% block body %}
    {% if report %}
        <div class="container">
            <br/>
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="panel-heading">
                            {{ form_label(form) }}
                        </div>
                        <div class="panel-body">
                            {{ form_row(form.planDate) }}
                            <br/>
                            {{ form_row(form.submit) }}
                        </div>
                        {{ form_end(form) }}</div>
                </div>
                <div class="col-md-10">
                </div>
            </div>


        {% else %}
            <div class="row">
                <div class="col-md-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">Report</div>
                        {{ form_start(form) }}
                        {{ form_errors(form) }}

                        <div class="panel-body">
                            {{ form_row(form.planDate) }}
                            <br/>
                            {{ form_row(form.submit) }}
                        </div>
                        {{ form_end(form) }}

                    </div>
                </div>
                <br/>
                <div class="col-md-10">
                    {% if message %}
                        <h5><b>{{ message }}</b></h5>
                    {% endif %}    

                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block documentReady %}

{% endblock documentReady %}
