{% extends 'NTPBundle::base.html.twig' %}
{% block body %}
        <div class="row">
            <h3 align="center">WICKES STORE DELIVERY NETWORK DASHBOARD</h3>
        </div>
    {% if result %}

        <br/>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Report</div>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="panel-body">
                        {{ form_row(form.planDate) }}
                        <br/>
                        {{ form_row(form.submit) }}
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Planned pallet delivery</div>
                    <div class="panel-body">
                        <div id="palletChart"></div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Chart 2</div>
                    <div class="panel-body">Empty</div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Chart 3</div>
                    <div class="panel-body">Empty</div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Chart 4</div>
                    <div class="panel-body">Empty</div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Chart 5</div>
                    <div class="panel-body">Empty</div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Chart 6</div>
                    <div class="panel-body">Empty</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Chart 7</div>
                    <div class="panel-body">Empty</div>
                </div>
            </div>
        </div>

    </div>


{% else %}
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Report</div>
                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="panel-body">
                    {{ form_row(form.planDate) }}
                    <br/>
                    {{ form_row(form.submit) }}
                </div>
                {{ form_end(form) }}

            </div>
        </div>
        <br/>
        <div class="col-md-9">
            <div class="row">

                {% if message %}
                    <h5><b>{{ message }}</b></h5>
                {% endif %}
            </div>


        </div>
    </div>
{% endif %}

{% endblock %}
{% block documentReady %}

{% endblock documentReady %}
