{% extends 'NTPBundle::base.html.twig' %}
{% block body %}
    {% if report %}            
        <br/>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-5">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form_row(form.planDate) }}
                        {{ form_row(form.submit) }}
                        {{ form_end(form) }}</div>
                    <div class="col-md-7">
                    </div>
                </div>
                <br/>
                <table class="table table-bordered">
                    <tr>
                        <td>Total duty time </td>
                        <td>{{ report.dutyTime }}</td>
                    </tr>
                    <tr>
                        <td>Total runs</td>
                        <td>{{ report.runsCount }}</td>

                    </tr>
                    <tr>
                        <td>Driving distance km</td>
                        <td>{{ report.distanceKm }}</td>

                    </tr>
                    <tr>
                        <td>Empty distance km</td>
                        <td>{{ report.emptyDistKms}}</td>

                    </tr>
                    <tr>
                        <td>Time utilisation %</td>
                        <td>{{ report.timeUtil|round(2, 'floor')}}</td>
                    </tr>
                    <tr>
                        <td>Avarge duty time</td>
                        <td>{{ report.avgDutyTime }}</td>
                    </tr>
                    <tr>
                        <td>Avarge distance km</td>
                        <td>{{ report.avgDistance|round }}</td>
                    </tr>
                    <tr>
                        <td>Avarge empty distance km</td>
                        <td>{{ report.avgEmptyDist|round }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <div class="caption"><h4>Runs per site</h4></div>
                <div id="bar-drivers" style="height: 250px;"></div>
                <div class="caption"><h4>Avarge drive time per site</h4></div>
                <div id="bar-timePerSite" style="height: 250px;"></div>
            </div>
            <div class="col-md-4">
                <div class="caption"><h4>Time utilisation per site</h4></div>
                <div id="bar-avgTime" style="height: 250px;"></div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-3">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.planDate) }}
                {{ form_row(form.submit) }}
                {{ form_end(form) }}</div>
            <br/>
            <div class="col-md9">
                 {% if message %}
                     <h5><b>{{ message }}</b></h5>
                 {% endif %}    

            </div>
        </div>
    {% endif %}
{% endblock %}
{% block documentReady %}
    {% if report %}
        var paragonRuns = {{ report.graphRuns | raw }};
        var graphAvgTime = {{ report.graphAvgTime | raw }};
        var graphTimePerSite = {{ report.graphTimePerSite | raw }};
    {% endif %}
    Morris.Bar({
    element: 'bar-drivers',
    hideHover: 'false',
    data: paragonRuns,
    xkey: 'y',
    ykeys: ['a'],
    labels: ['Runs'],
    gridTextSize: '10',
    stacked: true,
    resize: true,
    xLabelAngle: 35
    });

    Morris.Bar({
    element: 'bar-avgTime',
    hideHover: 'false',
    data: graphAvgTime,
    xkey: 'y',
    ykeys: ['a'],
    labels: ['Avarge time'],
    gridTextSize: '10',
    stacked: true,
    resize: true,
    xLabelAngle: 35,
    ymax: 100
    });
    
    Morris.Bar({
    element: 'bar-timePerSite',
    hideHover: 'false',
    data: graphTimePerSite,
    xkey: 'y',
    ykeys: ['a'],
    labels: ['Avarge time'],
    gridTextSize: '10',
    stacked: true,
    resize: true,
    xLabelAngle: 35,
    });
{% endblock documentReady %}
