{% extends 'NTPBundle::base.html.twig' %}
{% block body %}          
    <br/>
    {% if report %}
        
    <div class="row">
        <div class="col-md-2">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.year) }}
            {{ form_row(form.startWeek) }}
            {{ form_row(form.endWeek) }}
            <br/>
            {{ form_row(form.submit) }}
            {{ form_end(form) }}</div>
        <div class="col-md-10">
                <div class="caption"><h4>Plan summary</h4></div>
                <div id="bar-tractors" style="height: 250px;"></div>
        </div>
    </div>
    {% endif %}
    
    
    <div class="row">
        <div class="col-md-2">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.year) }}
            {{ form_row(form.startWeek) }}
            {{ form_row(form.endWeek) }}
             <br/>
            {{ form_row(form.submit) }}
            {{ form_end(form) }}</div>
        <div class="col-md-10">
            <div class="caption"><h4>Plan summary</h4></div>
       
        </div>
    </div>
{% endblock %}


