{% extends 'NTPBundle::base.html.twig' %}
{% block body %}
    {% if report %}            
        <br/>
        <div class="row">
            
                <div class="row">
                    <div class="col-md-2">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form_row(form.planDate) }}
                        {{ form_row(form.submit) }}
                        {{ form_end(form) }}
                    </div>
                    <div class="col-md-10">
                        <table class="table table-condense">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Store No</th>
                                    <th>Store name</th>
                                    <th>Planned arrival time</th>
                                    <th>Planned departure time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for record in report %}
                                   <tr>
                                   <td></td>
                                   <td> {{ record.customerId }} </td>
                                   <td> {{ record.customerName }} </td>
                                   <td> {{ record.arrivalTime|date('H:i') }}</td>
                                   <td> {{ record.departTime|date('H:i') }}</td>
                                   </tr>
                                {% endfor %}    
                            </tbody>
                        </table>
                    </div>
                </div>
            
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-3">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.planDate) }}
                {{ form_row(form.submit) }}
                {{ form_end(form) }}</div>
            <br/>
        </div>
    {% endif %}
{% endblock %}
