{% extends 'NTPBundle::pdfBase.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1>TRACTOR WEEKLY USAGE REPORT</h1>
        </div>

        <hr>
        <div class="row">
            <div class="col-xs-12" style="border: 1px solid black" >
                <div id="tractorMidlandsChart" align="left" style="width: 1200px; height: 250px;"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12" style="border: 1px solid black" >
                <div id="tractorWakeChart" align="left" style="width: 1200px; height: 250px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3" style="border: 1px solid black" >
                <div id="columnMidTractors" style="width: 300px; height: 250px;"></div>

            </div>
            <div class="col-xs-3" style="border: 1px solid black" >

                <div id="columnWakeTractors" style="width:  300px; height: 250px;"></div>
            </div>
            <div class="col-xs-3" style="border: 1px solid black" >
                <div style="width: 300px; height: 250px;">
                    <div style="width: 290px; height: 200px;">

                        <p style="padding-top: 8px; font-size:10px"><strong>Sum of all tractor used across sites excluding shunting</strong></p>
                        <table>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Site name</th>
                                    <th>Tractor used</th>
                                </tr>  
                            </thead>
                            <tbody>
                                {% for key,value in tractorAllocation %}
                                    <tr>
                                        <td style="padding-left: 5px;">{{ loop.index }}</td>
                                        <td> {{ key}} </td>
                                        <td> {{ value }} </td>
                                    </tr>
                                {% endfor %}    
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-3" style="border: 1px solid black" >
                <div style="width: 300px; height: 250px;">
                    <div id="piechart" style="width:  300px; height: 250px;"></div>
                </div>


            </div>

        </div>

    {% endblock body %}
    {% block headblock %}
        <script>
            // Load the Visualization API and the corechart package.
            function init() {
                google.load("visualization", "1.1", {packages: ["corechart"], callback: 'drawCharts'});
            }

            function drawCharts() {
                // Set a callback to run when the Google Visualization API is loaded.
                drawMidlandsChart();
                drawWakeChart();
                drawColumnMaxMid();
                drawColumnMaxWake();
                drawPieChart();

            }

            function drawMidlandsChart() {
                var data = google.visualization.arrayToDataTable([{{ tractorUsageWeekly.MIDIW | raw }}]);
                var options = {
                    title: 'MIDLANDS TRACTOR USAGE',
                    chartArea: {left: 60, top: 30, width: 1200, height: 150},
                    backgroundColor: {fill: 'transparent'},
                    legend: {position: 'none'},
                    hAxis: {showTextEvery: 24,
                        direction: 1,
                        slantedText: true,
                        slantedTextAngle: 45},
                    vAxis: {

                        textStyle: {
                            fontSize: 10,
                        },

                        gridlines: {
                            count: 10,
                        }
                    }
                };
                var chart = new google.visualization.LineChart(document.getElementById('tractorMidlandsChart'));
                chart.draw(data, options);
            }

            function drawWakeChart() {
                var data = google.visualization.arrayToDataTable([{{ tractorUsageWeekly.WAKEIW | raw }}]);
                var options = {
                    title: 'WAKEFIELD TRACTOR USAGE',
                    chartArea: {left: 60, top: 30, width: 1200, height: 150},
                    backgroundColor: {fill: 'transparent'},
                    legend: {position: 'none'},
                    hAxis: {showTextEvery: 24,
                        direction: 1,
                        slantedText: true,
                        slantedTextAngle: 45},
                    vAxis: {
                        format: '0',
                        textStyle: {
                            fontSize: 10,
                        },
                        gridlines: {
                            count: 10,
                        },
                    }
                };
                var chart = new google.visualization.LineChart(document.getElementById('tractorWakeChart'));
                chart.draw(data, options);
            }
            function  drawColumnMaxMid() {
                var data = google.visualization.arrayToDataTable([{{ maxTractors.MIDIW | raw }}]);
                var view = new google.visualization.DataView(data);
                view.setColumns([0, 1,
                    {calc: "stringify",
                        sourceColumn: 1,
                        type: "string",
                        role: "annotation"},
                    2]);

                var options = {
                    title: "Maximum tractor usage Midlands ",
                    chartArea: {left: 30, top: 30, width: 280, height: 180},
                    backgroundColor: {fill: 'transparent'},
                    bar: {groupWidth: "90%"},
                    legend: {position: "none"},
                };
                var chart = new google.visualization.ColumnChart(document.getElementById('columnMidTractors'));
                chart.draw(view, options);
            }

            function  drawColumnMaxWake() {
                var data = google.visualization.arrayToDataTable([{{ maxTractors.WAKEIW | raw }}]);
                var view = new google.visualization.DataView(data);
                view.setColumns([0, 1,
                    {calc: "stringify",
                        sourceColumn: 1,
                        type: "string",
                        role: "annotation"},
                    2]);

                var options = {
                    title: "Maximum tractor usage Wakefield ",
                    chartArea: {left: 30, top: 30, width: 280, height: 180},
                    backgroundColor: {fill: 'transparent'},
                    bar: {groupWidth: "90%"},
                    legend: {position: "none"},
                };
                var chart = new google.visualization.ColumnChart(document.getElementById('columnWakeTractors'));
                chart.draw(view, options);
            }
            function drawPieChart() {
            var data = google.visualization.arrayToDataTable([{{ tractorRuns | raw }}]);

            var options = {
                title: 'Weekly tractor allocation by activity',
                is3D: false,
                backgroundColor: {fill: 'transparent'},
                chartArea: {left: 30, top: 30, width: 280, height: 180},
                pieSliceTextStyle: {fontSize: 10, },
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }


        </script>
    </head>
{% endblock headblock %}


