{% extends 'NTPBundle::pdfBase.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1>WICKES SDC VOLUME WEEKLY REPORT</h1> 
        </div>
        <div class="row no-margins">
            <hr>
            <div class="col-xs-4" style="border: 1px solid black" >
                <div class="removemargin" id="columnchart_values" align="left" style="width: 450px; height: 250px;"></div>
                <br/>
                <p align="center">Total of daily store volumes represented in cubic meters</p> 

                <br/>
            </div>
            <div class="col-xs-4" style="border: 1px solid black">
                <div id="columnchart_pallet" style="width: 450px; height: 250px;"></div>
                <br/>
                <p align="center">Calculated pallet footprint by cube cruncher by day</p> 
                <br/>
            </div>
            <div class="col-xs-4" style="border: 1px solid black" class="removemargin">
                <div id="palletFill" style="width: 450px; height: 250px;" class="removemargin"></div>
                <br/>
                <p align="center">Calculated pallet fill based on pallet footprint and daily cubic meters</p>

            </div>

        </div>
        <div class="row">


            <div class="col-xs-4" style="border: 1px solid black">

                <div id="piechart" style="width: 450px; height: 250px;"></div>
                <br/>
                <p align="center">Precentage volume allocation by weekday</p> 
            </div>
            <div class="col-xs-4" style="border: 1px solid black">
                <div id="columnchart_trailer" style="width: 450px; height: 250px;"></div>
                <br/>
                <p align="center">Trailer pallet fill based on 58 pallets per vehicle</p>
            </div>
            <div class="col-xs-4" style="border: 1px solid black" class="removemargin">
                <div id="avgTrailerFill" style="width: 450px; height: 250px;" class="removemargin"></div>
                <p align="center">Average pallet footprint trailer fill based on cube cruncher caluclation</p>
            </div>
        </div>

    </div>

{% endblock %}

{% block headblock %}
    <script type="text/javascript">
        // Load the Visualization API and the corechart package.
        function init() {
            google.load("visualization", "1.1", {packages: ["corechart"], callback: 'drawCharts'});
        }

        function drawCharts() {
            // Set a callback to run when the Google Visualization API is loaded.
            drawColumnChart();
            drawPieChart();
            drawColumnPallet();
            drawColumnTrailer();
            drawPalletFill();
            drawavgTrailerFill();
        }
        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.

        function drawColumnChart() {
            var data = google.visualization.arrayToDataTable({{ result.volumeBar | raw }});
            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                {calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"},
                2]);

            var options = {
                title: "Daily cubic meter ",
                chartArea: {left: 40, top: 30, width: 300, height: 180},
                backgroundColor: {fill: 'transparent'},
                bar: {groupWidth: "90%"},
                legend: {position: "none"},
            };
            var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
            chart.draw(view, options);
        }

        function drawPieChart() {
            var data = google.visualization.arrayToDataTable({{ result.volumePie | raw }});

            var options = {
                title: 'Week volume allocation in %',
                is3D: true,
                backgroundColor: {fill: 'transparent'},
                chartArea: {left: 60, top: 60, width: 300, height: 180},
                pieSliceTextStyle: {fontSize: 10, },
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
        function drawColumnPallet() {
            var data = google.visualization.arrayToDataTable({{ resultPallet.palletBar | raw }});
            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                {calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"},
                2]);

            var options = {
                title: "Pallet footprint ",
                chartArea: {left: 40, top: 30, width: 300, height: 180},
                backgroundColor: {fill: 'transparent'},
                bar: {groupWidth: "90%"},
                legend: {position: "none"},
            };
            var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_pallet"));
            chart.draw(view, options);
        }
        function drawColumnTrailer() {
            var data = google.visualization.arrayToDataTable({{ trailerFill.trailerChart | raw }});
            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                {calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"},
                2]);

            var options = {
                title: "Trailer % fill based on 58 pallets footprint ",
                chartArea: {left: 40, top: 30, width: 300, height: 180},
                backgroundColor: {fill: 'transparent'},
                bar: {groupWidth: "90%"},
                legend: {position: "none"},
                vAxis: {format: "percent"},
            };
            var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_trailer"));
            chart.draw(view, options);
        }

        function drawPalletFill() {
            var data = google.visualization.arrayToDataTable({{ palletFill.palletFillColumn | raw }});
            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                {calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"},
                2]);

            var options = {
                title: "Pallet fill in cubic meter ",
                chartArea: {left: 40, top: 30, width: 300, height: 180},
                bar: {groupWidth: "90%"},
                backgroundColor: {fill: 'transparent'},
                legend: {position: "none"},
                vAxis: {minValue: 0.6},

            };
            var chart = new google.visualization.ColumnChart(document.getElementById("palletFill"));
            chart.draw(view, options);
        }


        function drawavgTrailerFill() {
            var data = google.visualization.arrayToDataTable({{ avgTrailerFill.avgTrailerFill | raw }});
            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                {calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"},
                2]);

            var options = {
                title: "Avarage pallet fill per trailer ",
                chartArea: {left: 40, top: 30, width: 300, height: 180},
                backgroundColor: {fill: 'transparent'},
                bar: {groupWidth: "90%"},
                legend: {position: "none"},

            };
            var chart = new google.visualization.ColumnChart(document.getElementById("avgTrailerFill"));
            chart.draw(view, options);
        }



    </script>

{% endblock headblock %}
