{% extends 'NTPBundle::base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-2">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.startDate) }}
            {{ form_row(form.endDate) }}

            <br/>
            {{ form_row(form.submit) }}
            {{ form_end(form) }}</div>
        <div class="col-md-10">
            {% for msg in app.session.flashbag.get('notice') %}
                <div class="alert alert-{{ msg.type }}">
                    <strong>{{ msg.title }}</strong><br/>{{ msg.message }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block documentReady %}

{% endblock documentReady %}
