{% extends 'NTPBundle::base.html.twig' %}
{% block body %}
<table class="table table-condensed">
    {% for item in fileProcessed %}
        <tr>
        <td>{{ item.getName }}</td>
        <td>{{ item.getPath }}</td>
        <td>{{ item.getUploadedAt|date('d-m-Y H:i') }}</td>
        <td>
        <form class="form-inline" method="post" action="{{path('books_search')}}">
                <input type="hidden" value="{{ item.id }}" id="fileId"/>
                <button type="button" class="btn btn-success">Process file</button>
            </form>
        </td>
        </tr>
    {% endfor %}
        
</table>
{% endblock %}
