{% extends 'NTPBundle::base.html.twig' %}
{% block body %}
    
    {% if message==null %}
    <p>File processed succefuly</p>
    <br/>
    <p>Errors: {{ errors }}</p> <br/>
    <p>Sucess: {{ success }}</p> <br/>
    <table class="table table-striped">
    {% for item in exceptionsArray %}
        <tr>
            <td> {{ item }} </td><br/>
        </tr>
    {% endfor %}
    {% else %}
        <p>{{ message }}</p>
        <br/>
         <a href="{{ path('file_display') }}">Return to display page</a>
    {% endif %}
    </table>
    
    
{% endblock %}
