{% extends 'NTPBundle::base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.file) }}
            <br/>
            {{ form_row(form.planDate) }}
            <br/>
            {{ form_end(form) }}
        </div>
        <div class="col-md-5"></div>
    </div>
{% endblock %}
